# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Production build files
/client/build

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/client/.env
/server/.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# OS files
.DS_Store
Thumbs.db